@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: #fefefe;
}
.wrapper {
  background-color: #171717;
  height: 100vh;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
